* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 700;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

.modules-top, .modules-center, .modules-bottom {
    background-color: rgba(30, 31, 37, 0.75);
    border-radius: 20px;
    padding: 8px 4px;
    margin: 5px 0;
}

/* --- MODULE COLORS --- */
#idle_inhibitor, #clock, #tray,
#custom-notification, #battery,
#pulseaudio, #custom-power {
    color: #c0c6dc;
    padding: 6px 4px;
}

#idle_inhibitor.activated {
    color: #39FF14;
}

#clock {
    color: #e2e2e9;
    font-size: 11px;
    font-weight: 900;
}

#custom-power:hover {
    color: #b0c6ff;
}

#custom-notification:hover {
    color: #b0c6ff;
}

/* --- SEPARATOR LINE --- */
#custom-separator {
    color: #8f9099;
    opacity: 0.4;
    padding: 0 2px;
    font-weight: 100;
}

/* --- WORKSPACES --- */
#workspaces button {
    font-family: "Noto Serif CJK JP", serif;
    font-size: 15px;
    font-weight: 900;
    color: #8f9099;
    padding: 5px 2px;
    background: transparent;
    min-width: 0;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    color: #b0c6ff;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active {
    color: #121318;
    background-color: rgba(217, 226, 255, 0.75);
    border-radius: 9px;
    padding: 5px 8px;
    margin: 4px 2px;
}

/* --- BATTERY STATES --- */
#battery.charging {
    color: #b0c6ff;
}

#battery.critical:not(.charging) {
    color: #ffb4ab;
}

/* --- PULSEAUDIO --- */
#pulseaudio.muted {
    color: #44464f;
}

/* --- ALIGN ICON-ONLY MODULES --- */
#custom-notification,
#custom-power {
    padding: 6px 14px;
}
