* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 700;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

.modules-top, .modules-center, .modules-bottom {
    background-color: rgba(10, 10, 10, 0.85);
    border-radius: 20px;
    padding: 8px 4px;
    margin: 0;
}

/* Clock */
#clock {
    color: #e0e0e0;
    font-size: 11px;
    font-weight: 900;
    padding: 6px 0;
}

/* Workspaces */
#workspaces button {
    font-family: "Noto Serif CJK JP", serif;
    font-size: 13px;
    font-weight: 900;
    color: #333333;
    padding: 5px 2px;
    background: transparent;
    min-width: 0;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    color: #86d1e9;
    background: transparent;
    box-shadow: none;
}

#workspaces button.active {
    color: #050505;
    background-color: rgba(134, 209, 233, 0.8);
    border-radius: 9px;
    margin: 0 4px;
}

/* Icons */
#battery, #pulseaudio, #custom-power,
#custom-notification, #tray {
    color: #444444;
    padding: 6px 0;
    font-size: 14px;
}

#battery.charging {
    color: #86d1e9;
}

#battery.critical:not(.charging) {
    color: #ff3333;
}

#pulseaudio.muted {
    color: #333333;
}

#custom-power:hover {
    color: #86d1e9;
}

#custom-notification:hover {
    color: #86d1e9;
}
